{% extends "core/base.html" %}

{% block title %} Sign up {% endblock %}

{% block content %}


<div class="text-center py-16">
    <h1 class="text-3xl text-white">Sign Up</h1>


</div>

<form method="post" action="." class="w-1/4 px-4 mx-auto">
    {% csrf_token %}
    <div class="mb-5">
        <label class="text-white"> Username</label>
        <input type="text" name="username" class="rounded-xl w-full mt-2">
    </div>
     <div class="mb-5">
        <label class="text-white"> Password </label>
        <input type="password" name="password1" class="rounded-xl w-full mt-2">
    </div>
     <div class="mb-5">
        <label class="text-white">Repeat password </label>
        <input type="password" name="password2" class="rounded-xl w-full mt-2">
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="p-4 mb-5 rounded-xl bg-red-300 text-white">
                    <p>{{error}}</p>

                </div>
            {% endfor%}
        {% endfor %}
    {% endif %}

    <button class="px-5 py-3 rounded-xl text-white bg-blue-800 hover:bg-green-600">Submit</button>

</form>

{% endblock %}

